@charset "UTF-8";
body {
  margin: 0;
  background-color: #E7F6FF;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  /* Rectangle 17 */
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  box-sizing: border-box;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 2px solid #eaeaea;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__left h3,
.header__left p {
  margin: 0;
}
.header__left p {
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}
.header__left h3 {
  text-transform: uppercase;
}
.header__left img {
  margin-right: 15px;
}

.header__right {
  display: flex;
}
.header__right img {
  margin-right: 10px;
  vertical-align: middle;
}
.header__right ul {
  margin: 0;
  padding: 0;
}
.header__right li {
  list-style-type: none;
  margin-right: 30px;
  cursor: pointer;
}
.header__right span {
  color: #5C5C5C;
}

.content {
  padding: 40px;
}
.content h1 {
  margin: 0;
}
.content .seach-heading {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.content .assortment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.seach-block {
  border: 1px solid #f3f3f3;
  display: flex;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
}
.seach-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  width: 385px;
  height: 95%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 40px;
}

.cartTotalBlock {
  display: flex;
  flex-direction: column;
}
.cartTotalBlock ul {
  padding: 0;
}
.cartTotalBlock div {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}
.cartTotalBlock li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.cartTotalBlock .greenBtn {
  position: relative;
  height: 55px;
  width: 385px;
  background: #9DD458;
  border: 0;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.cartTotalBlock .greenBtn:hover {
  background: #a9d96c;
}
.cartTotalBlock .greenBtn:active {
  background: #91cf44;
}
.cartTotalBlock .greenBtn:hover img {
  transform: translateX(5px);
}
.cartTotalBlock .greenBtn img {
  position: absolute;
  right: 30px;
  top: 22px;
  transition: transform 0.15s ease-in-out;
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.cartItem img {
  margin: 20px;
}
.cartItem p {
  margin-bottom: 5px;
}
.cartItem p, .cartItem b {
  margin-right: 20px;
  font-size: 14px;
}
.cartItem .removBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}
.cartItem .removBtn:hover {
  opacity: 1;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.close img {
  margin-bottom: 20px;
}
.close p {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 30px;
}
.close .greenBtn {
  position: relative;
  height: 55px;
  width: 285px;
  background: #9DD458;
  border: 0;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.close .greenBtn:disabled {
  background-color: #bebebe;
  cursor: default;
}
.close .greenBtn:hover {
  background: #a9d96c;
}
.close .greenBtn:active {
  background: #91cf44;
}
.close .greenBtn:hover img {
  transform: translateX(5px);
}
.close .greenBtn img {
  position: absolute;
  left: 25px;
  transform: rotate(180deg) translateX(3px);
  top: 22px;
  transition: transform 0.15s ease-in-out;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .products-preview .preview img {
    height: 25rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
select {
  background-size: cover;
  border: 1px solid #eaeaea;
  height: 32px;
  width: 40px;
  font-size: 13px;
  border-radius: 10px;
  color: #bebebe;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.app__main-container {
  display: flex;
  flex-direction: column;
}

.item-1 {
  background-image: url("../public/img/puma_banner_1.jpeg");
  background-size: 929px 300px;
}

.item-2 {
  background-image: url("../public/img/e564a34116b7642bcaa8aa15189db948.jpg");
  background-size: 929px 300px;
}

.item-3 {
  background-image: url("../public/img/OyP5w27V1mo.jpg");
  background-size: 929px 300px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}/*# sourceMappingURL=index.css.map */