body{
    margin: 0;
    
    background-color:#E7F6FF;
    
}
*{
    font-family: 'Inter', system-ui;
}

.wrapper{
/* Rectangle 17 */



background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px;
margin: 50px auto;
box-sizing: border-box;
outline: none;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 2px solid #eaeaea;
}
.header__left {
    display: flex;
    align-items: center;

    h3,
    p {
        margin: 0;
    }

    p {
        color: #9D9D9D;

        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;

    }

    h3 {
        text-transform: uppercase;
    }

    img {
        margin-right: 15px;
    }

}




.header__right {
    display: flex;
    

    img {
        margin-right: 10px;
        vertical-align: middle;
    }
    ul {
        margin: 0;
        padding: 0;
        
    }
    li {
        list-style-type: none;
        margin-right: 30px;
        cursor: pointer;
        
    }
    span {
        color: #5C5C5C;
        
    }
    
    
}






.content{
    padding: 40px;
    
    h1 {
        margin: 0;
    }
    .seach-heading{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        justify-content: space-between;

    }
.assortment{
    display: flex;
    flex-wrap: wrap;
    
        flex-direction: row;
        
        justify-content: space-evenly;
        align-items: baseline;
}}


        


.seach-block{
    border: 1px solid #f3f3f3;
    display: flex;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    // .removBtn{
    //     position: absolute;
    //     right: 0;
    //     width: 12px;
    //     height: 12px;
    //     top: 16px;
    //     right: 15px;
        

    // }

    input{
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
    }
} 
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.drawer{
    display: flex;
    flex-direction: column;
    overflow:auto;
    position: absolute;
    width: 385px;
    height: 95%;
    right: 0;
    background: #fff;
    box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
    padding: 30px;
    
    

    // h2{
    //     display: flex;
    //     justify-content: space-between;
    //     margin: 0;
    //     padding-bottom: 30px;
    // }
    // img{
    //     cursor: pointer;
    // }
}
.items {
        display: flex;
        flex-direction: column;
      overflow: auto;
      margin-bottom: 40px;
    }


.cartTotalBlock{
    display: flex;
    flex-direction: column;
    ul{
        
        padding: 0;
        
       
        
    }
    div{
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
    }
    li{
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px; 
    }
.greenBtn{
    
        position: relative;
        height: 55px;
        width: 385px;
        background: #9DD458;
        border: 0;
        color: #fff;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.1s ease-in-out;
        
    
        &:hover {
            background: lighten(#9DD458, 5%);
        }
    
        &:active {
            background: darken(#9DD458, 5%);
        }
        &:hover{
            img{
            transform: translateX(5px);
        }
        }

        img{
            position: absolute;
            right: 30px;
            top: 22px;
            transition: transform 0.15s ease-in-out;
        }
    }
}
    





.cartItem{
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden; //чтобы картинка не выходила за рамки//
    margin-bottom: 20px;
    
    
    

    


    img{
        margin: 20px;
        

    }

    p{
        margin-bottom: 5px;
        
    }
    
    p,b{
        margin-right: 20px;
        font-size: 14px;
    }
    .removBtn{
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;

        &:hover{
            opacity: 1;
        }
    }
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    img{
       margin-bottom: 20px; 
    }
    p{
        text-align: center;
        opacity: 0.6;
        margin-bottom: 30px;
    }
    .greenBtn{
    
        position: relative;
        height: 55px;
        width: 285px;
        background: #9DD458;
        border: 0;
        color: #fff;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.1s ease-in-out;

        &:disabled{
            background-color: #bebebe;
            cursor: default;
        }
    
        &:hover {
            background: lighten(#9DD458, 5%);
        }
    
        &:active {
            background: darken(#9DD458, 5%);
        }
        &:hover{
            img{
            transform: translateX(5px);
        }
        }

        img{
            position: absolute;
            left: 25px;
            transform: rotate(180deg) translateX(3px);
            top: 22px;
            transition: transform 0.15s ease-in-out;
        }
    }
}
// .preview{
// color: brown;
// position: absolute;
// }



// .products-preview{
//     position: fixed;
//     top:0; left:0;
//     min-height: 100vh;
//     width: 100%;
//     background: rgba(0,0,0,.8);
//     display: none;
//     align-items: center;
//     justify-content: center;
//  }
 
//  .products-preview .preview{
//     display: none;
//     padding:2rem;
//     text-align: center;
//     background: #fff;
//     position: relative;
//     margin:2rem;
//     width: 40rem;
//  }
 
//  .products-preview .preview.active{
//     display: inline-block;
//  }
 
//  .products-preview .preview img{
//     height: 30rem;
//  }
 
//  .products-preview .preview .fa-times{
//     position: absolute;
//     top:1rem; right:1.5rem;
//     cursor: pointer;
//     color:#444;
//     font-size: 4rem;
//  }
 
//  .products-preview .preview .fa-times:hover{
//     transform: rotate(90deg);
//  }
 
//  .products-preview .preview h3{
//     color:#444;
//     padding:.5rem 0;
//     font-size: 2.5rem;
//  }
 
//  .products-preview .preview .stars{
//     padding:1rem 0;
//     font-size: 1.7rem;
//  }
 
//  .products-preview .preview .stars i{
//     color:#27ae60;
//  }
 
//  .products-preview .preview .stars span{
//     color:#999;
//  }
 
//  .products-preview .preview p{
//     line-height: 1.5;
//     padding:1rem 0;
//     font-size: 1.6rem;
//     color:#777;
//  }
 
//  .products-preview .preview .price{
//     padding:1rem 0;
//     font-size: 2.5rem;
//     color:#27ae60;
//  }
 
//  .products-preview .preview .buttons{
//     display: flex;
//     gap:1.5rem;
//     flex-wrap: wrap;
//     margin-top: 1rem;
//  }
 
//  .products-preview .preview .buttons a{
//     flex:1 1 16rem;
//     padding:1rem;
//     font-size: 1.8rem;
//     color:#444;
//     border:.1rem solid #444;
//  }
 
//  .products-preview .preview .buttons a.cart{
//     background: #444;
//     color:#fff;
//  }
 
//  .products-preview .preview .buttons a.cart:hover{
//     background: #111;
//  }
 
//  .products-preview .preview .buttons a.buy:hover{
//     background: #444;
//     color:#fff;
//  }
 @media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }

 select{
    
    background-size: cover;
    border: 1px solid #eaeaea;
    height: 32px;
    width: 40px;
    font-size: 13px;
    border-radius: 10px;
    color: #bebebe;
    
 }



  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


 
  .app__main-container {
    display: flex;
    flex-direction: column;
    
    
  }
  .app__main-container > *:not(:last-child) {
    
  }
  
  .item-1 {
    background-image: url('../public/img/puma_banner_1.jpeg') ;
    background-size:929px 300px;
    
  }
  .item-2 {
    background-image: url('../public/img/e564a34116b7642bcaa8aa15189db948.jpg');
    background-size:929px 300px;
  }
  .item-3 {
    background-image: url('../public/img/OyP5w27V1mo.jpg');
    background-size:929px 300px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
    
  }
  
  